[Unit]
Description=Setup Systemd script for Cadvisor Container
After=network.target

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStart=/usr/bin/docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=9200:8080 --privileged=true --detach=true --name=cadvisor gcr.io/cadvisor/cadvisor:v0.47.0
ExecStop=-/usr/bin/docker kill cadvisor
ExecStop=-/usr/bin/docker rm cadvisor

[Install]
WantedBy=multi-user.target
